In [18]:
!pip install dnspython
!pip install pymongo[srv]

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.0)

In [25]:
import pymongo
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://ran:1234@cluster0.w24ly.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.d20
records = db.TelephoneDirectory
records.count_documents({})

5

In [24]:
import pandas as pd
p = 3
A = []
for i in range(0,5):
  d=dict(input().split() for x in range(p))
  A.append(d)
df = pd.DataFrame.from_records(A)
print(df)

name ranganadh
phone 9801788900
place hyderabad
name yoga
phone 9187671201
place hyderabad
name bindu
phone 1765890122
place hyderabad
name vagdevi
phone 1987654123
place hyderabad
name seetharam
phone 7897090876
place hyderabad
        name       phone      place
0  ranganadh  9801788900  hyderabad
1       yoga  9187671201  hyderabad
2      bindu  1765890122  hyderabad
3    vagdevi  1987654123  hyderabad
4  seetharam  7897090876  hyderabad

In [26]:
AZ1 = []
for x in records.find({},{"_id":0, "name":1}):
  AZ1.append(x)
  print(x)
df1 = pd.DataFrame.from_records(AZ1)
print(df1)

{'name': 'ranganadh'}
{'name': 'yoga'}
{'name': 'bindu'}
{'name': 'vagdevi'}
{'name': 'seetharam'}
        name
0  ranganadh
1       yoga
2      bindu
3    vagdevi
4  seetharam

In [28]:
AZ2 = []
for x in records.find({},{"_id":1, "name":1, "phone":1, "place":1}):
  AZ2.append(x)
  print(x)
df1 = pd.DataFrame.from_records(AZ2)
print(df1)

{'_id': ObjectId('62216629ac914a0267f9ae4c'), 'name': 'ranganadh', 'phone': '9801788900', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae4d'), 'name': 'yoga', 'phone': '9187671201', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae4e'), 'name': 'bindu', 'phone': '1765890122', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae4f'), 'name': 'vagdevi', 'phone': '1987654123', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae50'), 'name': 'seetharam', 'phone': '7897090876', 'place': 'hyderabad'}
                        _id       name       phone      place
0  62216629ac914a0267f9ae4c  ranganadh  9801788900  hyderabad
1  62216629ac914a0267f9ae4d       yoga  9187671201  hyderabad
2  62216629ac914a0267f9ae4e      bindu  1765890122  hyderabad
3  62216629ac914a0267f9ae4f    vagdevi  1987654123  hyderabad
4  62216629ac914a0267f9ae50  seetharam  7897090876  hyderabad

In [29]:
#update place of name: seetharam
myquery = { "name": "seetharam" }
newvalues = { "$set": { "place": "secunderabad" } }
records.update_one(myquery, newvalues)

In [30]:
#verify the updation
AZ3 = []
for x in records.find({},{"_id":1, "name":1, "phone":1, "place":1}):
  AZ3.append(x)
  print(x)
df2 = pd.DataFrame.from_records(AZ3)
print(df2)

{'_id': ObjectId('62216629ac914a0267f9ae4c'), 'name': 'ranganadh', 'phone': '9801788900', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae4d'), 'name': 'yoga', 'phone': '9187671201', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae4e'), 'name': 'bindu', 'phone': '1765890122', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae4f'), 'name': 'vagdevi', 'phone': '1987654123', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae50'), 'name': 'seetharam', 'phone': '7897090876', 'place': 'secunderabad'}
                        _id       name       phone         place
0  62216629ac914a0267f9ae4c  ranganadh  9801788900     hyderabad
1  62216629ac914a0267f9ae4d       yoga  9187671201     hyderabad
2  62216629ac914a0267f9ae4e      bindu  1765890122     hyderabad
3  62216629ac914a0267f9ae4f    vagdevi  1987654123     hyderabad
4  62216629ac914a0267f9ae50  seetharam  7897090876  secunderabad

In [31]:
#delete record
myquery1 = {"name" : "seetharam"}
records.delete_one(myquery1)

In [32]:
#verifying if seetharam record is deleted or not 
AZ4 = []
for x in records.find({},{"_id":1, "name":1, "phone":1, "place":1}):
  AZ4.append(x)
  print(x)
df3 = pd.DataFrame.from_records(AZ4)
print(df3)

{'_id': ObjectId('62216629ac914a0267f9ae4c'), 'name': 'ranganadh', 'phone': '9801788900', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae4d'), 'name': 'yoga', 'phone': '9187671201', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae4e'), 'name': 'bindu', 'phone': '1765890122', 'place': 'hyderabad'}
{'_id': ObjectId('62216629ac914a0267f9ae4f'), 'name': 'vagdevi', 'phone': '1987654123', 'place': 'hyderabad'}
                        _id       name       phone      place
0  62216629ac914a0267f9ae4c  ranganadh  9801788900  hyderabad
1  62216629ac914a0267f9ae4d       yoga  9187671201  hyderabad
2  62216629ac914a0267f9ae4e      bindu  1765890122  hyderabad
3  62216629ac914a0267f9ae4f    vagdevi  1987654123  hyderabad